{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <h1 class="my-4">{% trans 'User_details' %}</h1>
<div class="container-md">
    <div class="row justify-content-center align-items-center g-2">
        <ul class="list-group">
            <li class="list-group-item"><strong>{% trans 'Username' %}:</strong> {{ object.username }}</li>
            <li class="list-group-item"><strong>{% trans 'First name' %}:</strong> {{ object.first_name }}</li>
            <li class="list-group-item"><strong>{% trans 'Last name' %}:</strong> {{ object.last_name }}</li>
            <li class="list-group-item"><strong>{% trans 'Email' %}:</strong> {% if object.email %}{{ object.email }}{% else %}<i>{% trans 'Not specified' %}</i>{% endif %}</i></li>
            <li class="list-group-item"><strong>{% trans 'Date of registration' %}:</strong> {{ object.date_joined }}</li>
        </ul>
    </div>  
</div>
{% endblock content %}