{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="container">
    <form action="{% url "labels_update" pk=object.pk %}" method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            {% bootstrap_form form %}
        </div>
        <div class="mb-3 row">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
            </div>
        </div>
    </form>
</div>


{% endblock content %}